@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go here, outside of the config file */
.font-serif {
  font-family: 'Cormorant Garamond', serif;
}

.font-sans {
  font-family: 'Inter', sans-serif;
}